/* Reseteamos los valores de los estilos */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, Helvetica, sans-serif;
}


/* Cambiar el color del texto a amarillo en hover */
.nav-link.text-dark:hover {
  color: #DAE628 !important;
}

.nav-link.text-dark {
  font-weight: normal;
}

#header-ingenieria {
  font-family: Arial,Helvetica, sans-serif;
}